  section{
    background-color: #190629;
    color: white;
    padding: 15px;
    
  }


  section .social-footer li{
    display: inline-block;
    padding: 5px;
    
  }

  section ul{
    margin-left: -40px;
  }
  
  section ul li {
    list-style-type: none;
   
  }
 .footer-bottom{
  background-color: #0d0316;
  color: white;
  padding: 8px;
}

.design {
    color: #fff;
    line-height: 10px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}