  section{
    background-color: #586788;
    color: white;
    padding: 15px;
    
  }


  section .social-footer li{
    display: inline-block;
    padding: 5px;
    
  }

  section ul{
    margin-left: -40px;
  }
  
  section ul li {
    list-style-type: none;
   
  }

  body > section > div > div > div > ul > li > a,body > section > div > div > div > ul > li > a:hover {
    text-decoration: none;
    color: white;
  }


body > div.BottomFooter{
    background-color: #3c475f;
    color: white;
    
  }
 body > div.BottomFooter > div > div > div > a{
    text-decoration: none;
    color: #eee;
  }
