  .navbar{
    background-color: #2b292b;
  }

  body > div.container.wrapper > div.d-flex.justify-content-around > a > figure > img{
     width: 150px;
    height: 150px;
  }
  body > div.container.wrapper > div> span{
    font-size: 25px;
  }
  body > div.fixed-bottom.BottomFooter,  body > div.BottomFooter{
    background-color: #2b292b;
    
  }
  body > div.fixed-bottom.BottomFooter > div > div > div > a, body > div.BottomFooter > div > div > div > a{
    text-decoration: none;
    color: #eee;
  }

 